<style type="text/css">

a {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #003366;
	text-decoration: none;
}
a:hover {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #CC0000;
	text-decoration: none;
}
a.link_11_blue {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	color: #003366;
	text-decoration: underline;
}
a.link_11_blue:hover {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	color: #CC0000;
	text-decoration: underline;
}
a.link_11_gray_ud {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #666666;
	text-decoration: underline;
}
a.link_11_gray_ud:hover {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #CC0000;
	text-decoration: none;
}
a.link_11_black {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a.link_11_black:hover {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	color: #FF6600;
	text-decoration: none;
}
a.link_11_red {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
    color: #FF3300;
	text-decoration: none;
}
a.link_11_red:hover {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #996600;
	text-decoration: none;
}
a.link_11_white {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}
a.link_11_white:hover {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}
a.link_12_blue {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #003366;
	text-decoration: none;
}
a.link_12_blue:hover {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #CC0000;
	text-decoration: none;
}
a.link_12_white {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a.link_12_white:hover {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a.link_12_orange{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #FF6600;
	text-decoration: none;
}
a.link_12_orange:hover {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #FF6600;
	text-decoration: underline;
}
.text_9_red {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 9px;
	color: #990000;
}
.text_9_yellow {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 9px;
	color: #FF6600;
}
.text_10_black {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	color: #000000;
}
.text_10_black_sh {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	color: #000000;
	line-height: 13px;
}
.text_10_litegray {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	color: #888888;
}
.text_10_green {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	color: #003300;
}
.text_10_blue_b {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	font-weight: bold;
	color: #003366;
}
.text_10_black_sh {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	color: #000000;
	line-height: 13px;
}
.text_10_litegray {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	color: #888888;
}
.text_10_darkred_help {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	color: #990000;
	cursor:help
}
.text_11_blue_b {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	color: #2F4D99;
}
.text_11_red_b {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	color: #993300;
}
.text_11_black_b {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
.text_11_black {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #000000;
}
.text_11_white {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #FFFFFF;
}
.text_11_white_b {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
.text_11_orange {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #FF6600;
}
.text_11_gray{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #333333;
}
.text_11_white_op {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #777777;
}
.text_11_3366CC{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #3366CC;
}
.text_12_black {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #000000;
}
.text_12_white {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #FFFFFF;
}
.text_12_orange {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #FF6600;
}
.text_12_green {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #009900;
}
.text_12_red {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #990000;
}
.text_12_white_b {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.text_12_gray_b {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #666666;
	font-weight: bold;
}
.text_13_white {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	color: #FFFFFF;
}
.text_13_blue_b {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	color: #3366CC;
	font-weight: bold;
}
.text_13_red_b {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	font-weight: bold;
	color: #993300;
}
.text_13_green {
    font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	color: #009900;
}
.bg_right_bottom {
	background-repeat: no-repeat;
    background-position: right bottom;
}
.bg_left_top {
	background-repeat: no-repeat;
    background-position: left top;
}
.select_10_black {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
.select_11_black {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.square_ff6600 {
	color: #FF6600;
}
.navtext { 
width:220px; 
font-size:9pt; 
border: 1px solid #555; 
background-color:#efefef; 
color:#000; 
} 
</style>
